@media (max-width: 431px) {
    .terceraSeccion{
        .textoTerceraSeccion{
            margin-left: 23px;
            h2{
                font-size: 15px;
            }
            h3{
                font-size: 10px;
                font-weight: 400;
                margin-top: 20px;
            }
            a{
                button{
                    width: 6rem;
                    height: 2.3rem;
                    font-size: 10px;
                    margin-top: 30px;
                }
            }
        }
        }
        .ironman3s{
            display: flex;
            justify-content: end;
            img{
                max-width: 100%; 
                height: auto;
                display: block;
            }
        }

        .segundaSeccion{
            max-width: 100%;
            padding:20px;
        .contenedor-de-noticias {
            margin-top: 30px;
            width:100%;
            .daily {
                margin-top: 0;
                img{
                    max-width: 100%;
                }
            }
            .contenedorInterior{
                h2{
                    margin-top: 0;
                    margin-bottom: 10px;
                    font-size: 24px;
                    padding-top: 20px;
                }
                .noticias{
                    article{
                        padding-bottom:5%;
                        img{
                            height: 150px;
                        }
                        h3{
                            margin-top: 0.625rem;
                            font-size: 14px; /*18px*/
                            font-weight: 600; /*SemiBold*/
                            color: black;
                        }
                        }
                }
                .botonNoticiasIndex {
                    display: flex;
                    justify-content: center;
                    button{
                        width: 6rem;
                        height: 2.3rem;
                        margin-top: 15%;
                        margin-bottom: 30%;
                        a {
                            display: flex;
                            justify-content: center;
                            font-size: 10px;
                            font-weight: 600;
                            color: white;
                        }
                    }
                }
            }   
        }
    }
        footer {
            gap:5px;
            .FooterCoder1{
                align-items: center;
                h3{
                    font-size: 15px;
                }
            }
            .FooterCoder2{
                display: flex;
                align-items: center;
                h3{
                    font-size: 15px;
                }
                
            }
        }





}