@media (max-width: 768px){
    /****BARRA NAVEGADOR****/
    .nav-wraper{
    .barNav {
        margin: 20px 0 5px 0;
        #toggle:checked  ~ .menu{
            display: block;
            height: 100%;
        }
        label{
            display: inline-flex;
            cursor: pointer;
        } 
        .menu {
            width: 100%;
            height: 0;
            overflow: hidden;
            ul{
                flex-direction: column;
                align-items: center;
                padding: 8px 0;
            }
        }

    }
}

    /****BARRA NAVEGADOR****/

    /****SECCION 1 INDEX****/
    .primera-seccion {
        display: flex;
        background-size: cover;
        height: 900px;
        background-position: 10%;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 50px;
            text-align: center;
            margin-right: 0px;
            margin: 0;
        }
    }

    /****SECCION 1 INDEX****/

    /****SECCION 2 INDEX****/
    .segundaSeccion{
    .contenedor-de-noticias {
        min-width:auto;
        margin:50px 0 50px 0;
        .daily {
            display: none;
            
        }
        .daily430{
            display: inline-block;
            img{
                max-width: 100%;;
            }
        }
        .contenedorInterior{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 80%;
            div{
                width:100%;
                h2{
                    font-size: 1.75rem; /*32px*/
                }
            }
            
            .noticias{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr ;
                article{
                    display: flex;
                    flex-direction: column;
                    max-width: 100%;
                    height: fit-content;
                    
                    img{
                        max-width: 100%;
                        width: 100%;
                        box-shadow: 0px 5px 7.8px rgba(0, 0, 0, 0.258);
                        object-fit: cover;
                    }
                    h3{
                        margin-top: 0.625rem;
                        font-size: 1.125rem; /*18px*/
                        font-weight: 600; /*SemiBold*/
                        color: black;
                    }
                }
            }
            .botonNoticiasIndex {
                display: flex;
                justify-content: end;
                button{
                    background-color: #CA0000;
                    color: white;
                    width: 7.9375rem;
                    height: 2.9375rem;
                    font-size: 1rem;
                    font-weight: 600;
                    border: none;
                    margin-top: 0%;
                    margin-bottom: 0%;
                    a {
                        font-size: 1rem;
                        font-weight: 600;
                        color: white;
                    }
                }
            }
        }
    }
}

    /****SECCION 2 INDEX****/

    /****SECCION 3 INDEX****/
    .terceraSeccion{
        display: grid;
        grid-template-columns: 1fr 1fr;
        .textoTerceraSeccion{
            display: flex;
            color: white;
            margin-left: 50px;
            h2{
                font-size: 30px;
            }
            h3{
                font-size: 18px;
                font-weight: 400;
                margin-top: 20px;
            }
        }
        }
        .ironman3s{
            display: flex;
            justify-content: end;
            img{
                max-width: 100%; 
                height: auto;
                display: block;
            }
        }


    /****SECCION 3 INDEX****/

    /****PAGINA NOTICIAS****/
main{
    .pNoticias{
        .contenedor-de-noticias-pagina{
            .subContenedorNoticias{
                gap: 1.5rem;
                .articulosPNoticias{
                    article {
                        h2{
                            font-size: 14px; 
                        }
                    }
                }
            }
        }
    }
}


    /****PAGINA NOTICIAS****/

    /****PAGINA ARTICULO NOTICIA****/
    .pNoticias{
        .contenedor-de-noticias-pagina{
            .daily2{
                img{
                    width: 100%;
                }
            }
            .contenedorArticuloNoticia{
                width: 90%;
                h2{
                    font-size: 24px; 
                    font-weight: 600; /*SemiBold*/
                    padding-top: 10px;
                    padding-bottom: 20px;
                }
                .botonVolverNoticias{
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }

    /****PAGINA ARTICULO NOTICIA****/
    
    /****TARJETAS PAGINAS SERIES Y PELICULAS****/
    .pPeliculas{
        .contenedor-de-peliculas-pagina{
            .contenedorInterior{
                .botonesSuperiores{
                    .botonPeliculas1{
                        align-items: center;
                        padding-top: 25px;
                        padding-bottom: 25px;
                        h1{
                            font-size: 16px;
                        }
                    }
                    .botonSeries1{
                        padding-top: 0px;
                        padding-bottom: 0px;
                        align-items: center;
                        h2{
                            font-size: 16px;
                        }
                    }
                }
                .gridInfoTarjetas{
                    .estructura{
                        .estructuraInformacion{
                            h3{
                                font-size: 30px;
                            }
                            .estructuraInformacionDirector {
                                gap: 25px;
                                p{
                                    font-size: 20px;
                                }
                            }
                            h4{
                                margin-top: 20px;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    
    
    /****TARJETAS PAGINAS SERIES Y PELICULAS****/

    /****FOOTER****/
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        .FooterCoder1{
            display: flex;
            text-align: center;
            margin-left: 0;
            padding: 30px;
        }
        .FooterCoder2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-right: 0;
        margin-bottom: 30px;
        text-align: center;
    }
    }

    /****FOOTER****/





}