@media (max-width: 1196px){
    footer {
        justify-content: center;
        color: white;
        gap: 35px;
        .FooterCoder1{
            margin-left: 0;
            align-items: center;
        }
        .FooterCoder2{
            margin-right: 0;
            gap:30px;
        }
    }
}

