main{
    .pNoticias{
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 84px;
        .contenedor-de-noticias-pagina {
            background-color: white;
            width: 90%;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-bottom: 60px;
            .daily2 {
                display: flex;
                justify-content: center;
                img{
                    max-width: 100%;
                }
            }
            .daily936{
                display: none;
            }
            .subContenedorNoticias{
                display: flex;
                flex-direction: column;
                max-width: 1323px;
                justify-content: center;
                padding-inline: 40px;
                gap: 2.5rem;
                h1{
                    font-size: 2rem; /*32px*/
                    font-weight: 600; /*SemiBold*/
                    color: black;
                    text-decoration: underline;
                }
            }
        }
    }
}