.noticias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.25rem;
    article{
        grid-template-columns: minmax(150px,255px);
        img{
            box-shadow: 0px 5px 7.8px rgba(0, 0, 0, 0.258);
            max-width: 100%;
        }
        h3{
            margin-top: 0.625rem;
            font-size: 1.125rem; 
            font-weight: 600; /*SemiBold*/
            color: black;
        }
    }
}