.noticias{
    display: grid;
    grid-template-columns: repeat(4, minmax(155px,255px));
    gap: 1.25rem;
    article{
        max-width: 100%;
        img{
            box-shadow: 0px 5px 7.8px rgba(0, 0, 0, 0.258);
            max-width: 100%;
        }
        h3{
            margin-top: 0.625rem;
            font-size: 1.125rem; 
            font-weight: 600; /*SemiBold*/
            max-width: 100%;
            color: black;
        }
    }
}


.articulosPNoticias{
    display: grid;
    grid-template-columns: repeat(4, minmax(155px,255px));
    gap: 1.25rem;
    article{
        max-width: 100%;
        img{
            box-shadow: 0px 5px 7.8px rgba(0, 0, 0, 0.258);
            max-width: 100%;
        }
        h2{
            margin-top: 0.625rem;
            font-size: 1.125rem; 
            font-weight: 600; /*SemiBold*/
            max-width: 100%;
            color: black;
        }
    }
}