@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Montserrat", sans-serif; 
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    border: solid 1px red
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    font-weight: bold;
}